body.fundo{
	background-image: url("../img/fundo.jpg") ;
}

header.transparente{
	background: -webkit-linear-gradient(left, rgba(8,8,9,0), rgba(8,8,9,1)); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(right, rgba(8,8,9,0), rgba(8,8,9,1)); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(right, rgba(8,8,9,0), rgba(8,8,9,1)); /* For Firefox 3.6 to 15 */
background: linear-gradient(to bottom, rgba(8,8,9,0), rgba(8,8,9,1)); /* Standard syntax (must be last) */
}
header.transparente h1{
    color:white;
}
h2 {
	color:#fff;
}
p{
	color:#fff;
}
hr {
	border-color: #9f0000;
	border: 2px;
}

/* ###### ICONES ----------------- */
h1.iconeCentral{
	font-size: 4em;
}
.hrIcone{
	border: 1px solid rgb(159, 0, 3);
	width: 52px;

}
.iconefundo{
	background-image: url("../img/iconefundo.png");
	background-position: 15px 11px;
	background-repeat: no-repeat;
}
/* ###### FORM ----------------- */
.caixa{
	background-color: rgba(8, 8, 9, 0.28);
	padding: 20px;
}
div.caixaTamanho{
	height: 205px;


}
.form-control {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857;
	color: #fff;
	background-color: rgb(255, 255, 255);
	background-image: none;
	border: 1px solid #FFF;
	border-radius: 0px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	background-color: rgba(0, 0, 0, 0.075);
}
select {
	width: 100%;
	background-color: rgba(0, 0, 0, 0.075);
	color: rgb(162, 162, 162);
	border: 1px solid #FFF;
	padding:0px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance:none;
}
option {
		height: 37px;
		background: #4e4e4e;
		color: rgb(162, 162, 162);
}

.styled-select{
	background: url("../img/arrowup.png") no-repeat right ;
	background-position: 217px 11px;
}

.buttonCustom {
	border-radius: 0px;
	padding: 12px 58px 12px 12px;
	background-color: rgb(159, 0, 0);
	color: rgb(255, 255, 255);
	border: medium none;
	/* padding-right: 58px; */
}
/* ###### arlets ----------------- */

.alert {
	padding: 9px 15px;
	margin-bottom: 20px;
	border: 1px solid rgb(159, 0, 0);
	border-radius: 0px;

}
.alert-danger {
	color: rgb(159, 0, 0);
	background-color: #000;
	border-color: rgb(159, 0, 0);
}
.alert-danger div {
	color: rgb(255, 255, 255);
	display: inline;
}
